[data-callout="tabbed"] {
  outline: px solid var(--color-base-30);
  border-radius: 0.5rem;
  background: transparent;
  max-width:80%;
  margin:auto;
}

[data-callout="tabbed"] > .callout-content {
  padding: 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, max-content));
  gap: 0 0.25rem;
}

[data-callout="tabbed"] > .callout-title {
  display: none;
}
[data-callout="tabbed"] > .callout-content p {
  margin: 0;
}
[data-callout="tabbed"] > .callout-content label > input {
  display: none;
}
[data-callout="tabbed"] > .callout-content label {
  width: 100%;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: 0.25rem;
  color: #f0f0f0;
  background-color: #515fa4;
  font-weight: bold;
  font-size: 1rem;
}
[data-callout="tabbed"] > .callout-content label:has(input:checked) {
  color: #ffffff;
  background-color: #4a4a4a;
}
[data-callout="tabbed"]
  > .callout-content
  p:not(:has(label input:checked))
  + blockquote {
  display: none;
}

[data-callout="tabbed"] > .callout-content > blockquote {
  order: 999;
  grid-column: 1 / -1;
  background-color: transparent;
  padding-left: 0;
  border: 0;
}

