table thead tr th {
	text-align: left;
}


.customMargin table {
	margin: 25px 0;
}

.academia table {
	border-collapse: collapse;
	border-spacing: 0;
	width: auto;
	border-top: 0px solid black;
	border-bottom:0px solid black;
	overflow-x: auto;	
}
.academia th,
.academia td {
	border: 0 none;
	padding: 0.51rem;
	line-height: 1.1;
}

.academia thead th {
    background-color: #b4dcf4 !important;
    font-weight: 700;    
    padding: 8px 9px 5px 9px;
}
.academia tr:nth-child(even) {
      background-color: #d3eaf8 ;
}

.markdown-preview-view .callout .srs-delimiter,
.markdown-preview-view .callout .srs-hide {
    display: none;
}

